<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="layouts/adminLayout.html">
<head>
<meta charset="ISO-8859-1">
<title layout:fragment="title">Quản lý đơn bán lẻ</title>

<!-- Page style -->
<th:block layout:fragment="pageStyle">
	<link
		th:href="@{/admin/vendors/datatables/dataTables.bootstrap.min.css}"
		rel="stylesheet" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
	<!-- page css -->
	<link th:href="@{/admin/vendors/select2/select2.css}" rel="stylesheet">
</th:block>

</head>
<body>

	<div layout:fragment="content">

		<div class="page-header">
			<h2 class="header-title">Quản lí bán lẻ</h2>
			<div class="header-sub-title">
				<nav class="breadcrumb breadcrumb-dash">
					<a th:href="@{/manage/dashboard}" class="breadcrumb-item"> <i
						class="anticon anticon-home m-r-5"></i>Quản lí
					</a> <a class="breadcrumb-item" href="#">Đơn bán lẻ</a>
				</nav>
			</div>
		</div>
		<div class="card">

			<div class="card-body">
				<div class="row m-b-30">

					<div class="col-lg-4">
						<form th:action="@{/manage/category}">
							<div class="input-affix">
								<i class="prefix-icon anticon anticon-search"></i> <input
									type="search" name="key" th:value="${key}"
									onchange="this.form.submit()" class="form-control"
									placeholder="Tìm kiếm">
							</div>
						</form>
					</div>

					<!-- <div class="col-lg-8 text-right">
						<button type="button" class="btn btn-primary" data-toggle="modal"
							data-target="#createCategoryModal">
							<i class="anticon anticon-plus-circle m-r-5"></i> <span>Tạo
								phân loại</span>
						</button>
					</div> -->

				</div>

				<div class="m-t-25">
					<table id="data-table" class="table table-hover">
						<thead>
							<tr>
								<th>Mã đơn hàng</th>
								<th>Số lượng sản phẩm</th>
								<th>Tổng</th>
								<th>Nhân viên tạo</th>
								<th>Ngày tạo</th>
								<th>Khách hàng</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${invoiceList}">
								<td>#[[${item.id}]]</td>
								<td>[[${item.getAmount()}]]</td>
								<td>[[${item.total}]]</td>
								<td>[[${item.user.userFullname}]]</td>
								<td>[[${item.createAt}]]</td>
								<td>[[${item.customer!=null?item.customer.name+'
									'+item.customer.phone:'Không có thông tin khách hàng'}]]</td>
								<td class=""><a
								th:href="@{'/retail/invoice/'+${item.id}+'/detail'}"
									class="btn btn-icon btn-hover btn-sm btn-rounded pull-right cursor-pointer">
										<i class="anticon anticon-info"></i>
								</a><a
									class="btn btn-icon btn-hover btn-sm btn-rounded pull-right edit">
										<i class="anticon anticon-edit"></i>
								</a> <a th:value="${item.id}" data-toggle="modal"
									data-target="#confirm-delete"
									class="btn btn-icon btn-hover btn-sm btn-rounded cursor-pointer"> <i
										class="anticon anticon-delete"></i>
								</a> <input id="id" th:value="${item.id}" hidden /></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>Mã đơn hàng</th>
								<th>Số lượng sản phẩm</th>
								<th>Tổng</th>
								<th>Nhân viên tạo</th>
								<th>Ngày tạo</th>
								<th>Khách hàng</th>
								<th>&nbsp;</th>
							</tr>
						</tfoot>
					</table>
					<nav th:replace="fragments/pagination_nav.html :: paginator"></nav>
				</div>
			</div>
		</div>

	</div>

	<!-- Page script -->
	<th:block layout:fragment="pageScript">
		<script th:src="@{/admin/vendors/datatables/jquery.dataTables.min.js}"></script>

		<script
			th:src="@{/admin/vendors/datatables/dataTables.bootstrap.min.js}"></script>

		<script type="text/javascript"
			th:src="@{/admin/vendors/jquery-validation/jquery.validate.min.js}"></script>


		<!-- page js -->
		<script th:src="@{/admin/vendors/select2/select2.min.js}"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

		<script>
			$('.filter-select').select2();
			//Create form validation
			$("#createCategory").validate({
				ignore : ':hidden:not(:checkbox), .ignore',
				errorElement : 'label',
				errorClass : 'is-invalid',
				validClass : 'is-valid',
				rules : {
					name : {
						required : true,
					},

				},
				messages : {
					name : {
						required : 'Trường không được bỏ trống',
					},
				}
			});
			//Fill data for update form
			$("table .edit").on(
					"click",
					function() {
						var id = $(this).parent().find("#id").val();
						$.ajax({
							type : 'GET',
							url : "[[@{/manage/category/}]]" + id,
							success : function(data) {
								$("#updateCategoryModal #id").val(data.id);
								$("#updateCategoryModal #categoryName").val(
										data.name);
								if (data.parentCategory != null) {
									$("#updateCategoryModal #parent").val(
											data.parentCategory.id).change();
								}
								if(data.image!=null){
									$("#updateCategoryModal #previewUpdate")
									.attr('src','[[@{/category-images/}]]'+data.image);
									$("#updateCategoryModal #oldImage").val(data.image);
								}else{
									$("#updateCategoryModal #previewUpdate")
									.attr('src','[[@{/admin/images/others/adobe-thumb.png}]]');
								}
								if (data.showOnline != null) {
									$("#updateCategoryModal #showOnline").attr('checked',data.showOnline);
								}else{
									$("#updateCategoryModal #showOnline").attr('checked',false);
								}
								$("#updateCategoryModal #level")
										.val(data.level).change();
								$("#updateCategoryModal").modal('show');
							}
						});
					});
			
			/* Delete confirmation script */
			$('#confirm-delete').on(
					'show.bs.modal',
					function(e) {
						$(this).find('#confirm-header').text(
								"Xác nhận xóa \""
										+ $(e.relatedTarget).data('label')
										+ "\"");
						$(this).find('.btn-ok').attr(
								'href',
								'/manage/category/delete/'
										+ $(e.relatedTarget).attr('value')
										+ "?page=[[${currentPage}]]");
					});
			
			/* Image Input for create*/
			$('#previewCreate').on('click',()=>{
				$('#createImg').trigger('click');
			})
		
			$('#createImg').on('change',function(){	
				
				const [file]=document.getElementById("createImg").files;
				if(file){
					$('#previewCreate').attr('src',URL.createObjectURL(file));
				}				
			})
			/* Image Input for update*/
			$('#previewUpdate').on('click',()=>{
				$('#updateImg').trigger('click');
			})
		
			$('#updateImg').on('change',function(){	
				
				const [file]=document.getElementById("updateImg").files;
				if(file){
					$('#previewUpdate').attr('src',URL.createObjectURL(file));
				}				
			})
		</script>
	</th:block>
</body>
</html>