<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Không có quyền truy cập</title>

<!-- Favicon -->
<link rel="shortcut icon" th:href="@{/icon.ico}">

<!-- page css -->

<!-- Core css -->

<link rel="stylesheet" th:href="@{/admin/css/app.min.css}">

</head>

<body>
	<div class="app">
		<div class="container-fluid">
			<div
				class="d-flex full-height p-v-20 flex-column justify-content-between">
				<div class="d-none d-md-flex p-h-40">
					<img src="assets/images/logo/logo.png" alt="">
				</div>
				<div class="container">
					<div class="row align-items-center">
						<div class="col-md-6">
							<div class="p-v-30">
								<h1 class="font-weight-semibold display-1 text-primary lh-1-2">403</h1>
								<h2 class="font-weight-light font-size-30">Có vẻ như bạn không có quyền truy cập chức năng này</h2>
								<p class="lead m-b-30">Vui lòng liên hệ quản trị viên</p>
								<a href="javascript:history.back()" class="btn btn-primary btn-tone">Quay lại</a>
							</div>
						</div>
						<div class="col-md-6 m-l-auto">
							<img class="img-fluid" src="assets/images/others/error-1.png"
								alt="">
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>



	<!-- Core Vendors JS -->
	<script th:src="@{/admin/js/vendors.min.js}"></script>
	<!-- page js -->

	<!-- Core JS -->
	<script th:src="@{/admin/js/app.min.js}"></script>

</body>

</html>