/* Validation */
.is-invalid {
	border-color: red;
	color: red;
}

.is-invalid:focus {
	outline: none;
}

/* Input image file */
.img-thumbnail:hover {
	cursor: pointer;
}

.input-image-orthers {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
}

.input-image-orthers .input-image {
	margin: 0 0.5rem;
}

/* Product management modal */
/*
 *  STYLE 2
 */
.custom-scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #D62929;
}

/* Modal two column scroll independently */
div#col-left, div#col-right {
	max-height: 70vh; /* not available in Bootstrap */
	overflow-y: scroll;
}
/* Product row view */
.view-detail:hover, .delete, .edit {
	cursor: pointer;
}

/* Search bar  */
.search-box {
	width: 30rem;
}

/* Retail css */
.product-area {
	height: 70vh;
	overflow-y: scroll;
}
.product-table-header{

	background-color: #fff;
	
}